



*{
    padding: 0;
    margin: 0;
}

.topnav{
    font-family: 'Poppins';
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 40px;
    gap: 150px;
    background-color:rgb(7, 3, 60);
    color: aliceblue;   
}

.cont{
    padding-top: 80px;
    padding-left: 20px;
    color: aliceblue;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    gap: 10px;

}
.cont2{
      font-family: 'Poppins';
      padding-left: 20px;
      color: aliceblue;
      font-style: normal;
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 30px;
      border: 2px solid yellow;
}

.content-bar{
    background-color: #050553;
    padding-bottom: 41px;
}
.headings ul{
    font-family: 'Poppins';
    list-style: none;
    color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 210px;
    padding-top: 50px;
    /* justify-content: center; */
padding-left: 1
0%;
    text-align: center;
}


.btn {
    font-family: 'Poppins';
    color: #fcfcfc;
    width: 157px;
    height: 37px;
    font-size: 22px;
    background: linear-gradient(90deg, #3DD8EE 0%, #0997E8 100%);
    border-radius: 8px;
    /* position: absolute; */
    align-content: center;
    /* display: contents; */
    margin-left: 24em;
    text-align: center;
    padding: 2px;
    margin-top: 49px;
    font-weight: bolder;
    padding-bottom: 1px;
    margin-bottom: 0px;
}

h2,h4,p{
    background-color: #01012a;
    font-family: 'Poppins';
    color: #FFFFFF;
    padding: 5px;
}

.right-box{
   padding-top: 50px;
   display: flex;
   flex-direction: column;
    background-color: #01012a;
    font-family: 'Poppins';
    color: #FFFFFF;
    padding-left: 60%;


}
.eye-btn{
    height: 60px;
    width: 60px;
    border: 2px solid;
}

.map-bar{
    display: flex;
}

img{
    display: flex;
    width: 50%;
    height: 438px;
    position: absolute;
    background-color: #01012a;
    opacity: 10%;
    padding-left: 50px;
    padding-top: 50px;
 }
 
.pop-box{
    background: #1a4bb470;
    color: #ffffff;
    position: absolute;
    /* bottom: -11px; */
    top: 78em;
    /* right: 21px; */
    left: 17em;
}

.pop-box2{
    background: #1a4bb470;
    color: #ffffff;
    position: absolute;
    /* bottom: -11px; */
    top: 84em;
    /* right: 21px; */
    left: 31em;
}

.pop-box3{
    background: #1a4bb470;
    color: #ffffff;
    position: absolute;
    /* bottom: -11px; */
    top: 92em;
    /* right: 21px; */
    left: 13em;
}
/* .right{
    display: flex;
  justify-content: right;

} */

.portfolio-sec{
    background-color: #050553;
    display: flex;
}

.word-head{
    color: #FFFFFF;
    font-family: 'Poppins';
    font-size: 2.5rem;
    padding-left: 100px;
    padding-top: 50px;
    font-weight: bolder;
}
.buy-cot{
    padding-left: 100px;
    padding-bottom: 20px;
    padding-top: 10px;
    font-family: 'Poppins';
    font-size: 1rem;
    font-weight: bolder;
    color: #FFFFFF;
}
.hed{
    font-size:1.3rem;
}

.bares{
    width: fit-content;
    opacity: 20%;
}
.card-child li{
    display: flex;
    list-style: none;
    padding-top: 10px;
    
}

.card{
    font-family: 'Poppins';
    color: #FFFFFF;
    padding: 30px;
    margin-top: 3%;
    margin-left: 15%;
    border-radius:45px ;
    box-shadow:  0 4px 8px 0 #8a6df4ee;
    background: linear-gradient(180.04deg, rgba(4, 19, 52, 0.78) -3.16%, rgba(15, 37, 84, 0.62) 99.42%);
border: 2px solid #142346;
}

.card-child{
    font-size: 1.5rem;
}


.about-section{
    background-color: #01012a;
    font-family: 'Poppins';
    
    color: #FFFFFF;
    display: flex;
    padding-top: 100px;
}
.about1 {
    padding: 20px;
    display: block;
    font-size: 20px;
    font-weight: 500;
    padding-left: 50px;
}
.about2 ul { 

 list-style: none;
 font-size: 16px;
 font-weight: 400;
 /* padding-top: 100px; */
 margin: 90px;
 justify-content: space-between;
 gap: 20%;
 
}

.copy-rt{
    background-color: #050553;
    color: #FFFFFF;
    font-family: 'Poppins';
    text-align: center;
    padding: 10px;
}

.btc-png{
    width: 40px;
    height: 40px;
    opacity: 100%;
    background-color: #050553;
    margin-left: 80px;
    padding: 30px;
    
}
.ico-png{
    
    font-family: 'Poppins';
    font-size:2rem;
    font-weight: bolder;
    color: #14FF00;

}

.btc-png1{
    width: 40px;
    height: 40px;
    opacity: 100%;
    background-color: #050553;
    position: absolute;
    padding-left: 5%;
    margin:-45px;
    padding: 0;
    
}
.grph{
    background-color: #050553;
    opacity: 5%;
    color: #14FF00;
    width: 58px;
height: 22px;
opacity: 100%;
display: flex;
flex-direction: row;
padding-top: 0px;
}